@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(180deg, #db2f79, #44609d);
}

section#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

