@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(180deg, #db2f79, #44609d);
}

section#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url(/pacote-d013/imagens/frame-iphone.png);
    width: 311px;
    height: 627px;
}

section#home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 430%);
}

iframe{
    position: relative;
    width: 268px;
    height: 471px;
    top: 80px;
    left: 22px;
}